<!-- Navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Left Navbar Menu -->
        <div class="navbar-header">
            <a href="#" class="navbar-brand visible-xs trigger-sidebar"><i class="fa fa-bars"></i></a>
            <a href="index.html" class="navbar-brand"><img src="img/logo.png" alt=""></a>
            <a href="#" class="navbar-brand visible-xs trigger-navbar"><i class="fa fa-ellipsis-v"></i></a>
        </div>

        <!-- Middle Navbar Menu -->
        <ul class="navbar-nav nav">
            <li><a href="dashboard.html" class="item"><i class="fa fa-home"></i> Dashboard</a></li>
            <li><a href="messages.html" class="item"><i class="fa fa-inbox"></i> Messages</a></li>
            <li><a href="notifications.html" class="item"><i class="fa fa-bell-o"></i> Notifications</a></li>
            <li><a href="trash.html" class="item"><i class="fa fa-trash-o"></i> Trash</a></li>
            <li><a href="https://github.com/muhibbudins/wonderful" class="item"><i class="fa fa-github"></i> Github</a></li>
        </ul>

        <!-- Right Navbar Menu -->
        <ul class="navbar-nav navbar-right nav">
            <li><a href="sign-in.html" class="item"><i class="fa fa-sign-out"></i> Sign Out</a></li>
            <li><a href="profile.html" class="item btn btn-info"><i class="fa fa-user"></i> Profile</a></li>
        </ul>
    </div>
</div>

<!-- Navbar Responsive -->
<div class="navbar-responsive visible-xs"></div>