<!-- Sidebar -->
<div class="sidebar">
    <ul class="nav nav-pills">
        <li><a href="#" class="item active" data-target="first-menu"><i class="ion-leaf"></i></a></li>
        <li><a href="#" class="item" data-target="second-menu"><i class="ion-cube"></i></a></li>
        <li><a href="#" class="item" data-target="third-menu"><i class="ion-erlenmeyer-flask"></i></a></li>
        <li><a href="#" class="item" data-target="fourth-menu"><i class="ion-fireball"></i></a></li>
        <li><a href="#" class="item" data-target="fifth-menu"><i class="ion-happy-outline"></i></a></li>
    </ul>
</div>

<!-- Secondary Sidebar -->
<div class="sidebar-menu">
    <ul id="first-menu" class="nav nav-pills nav-stacked active">
        <li><a href="#" class="item item-head">Introduction</a></li>
        <li><a href="index.html#introduction" class="item">About Wonderful</a></li>
        <li><a href="index.html#installation" class="item">Installation</a></li>
        <li><a href="index.html#component" class="item">Component</a></li>
        <li><a href="index.html#dependency" class="item">Dependency</a></li>
        <li><a href="index.html#license" class="item">License</a></li>
    </ul>

    <ul id="second-menu" class="nav nav-pills nav-stacked">
        <li><a href="#" class="item item-head">Components</a></li>
        <li><a href="typography.html" class="item">Typography</a></li>
        <li><a href="icon.html" class="item">Icon</a></li>
        <li><a href="button.html" class="item">Button</a></li>
        <li><a href="table.html" class="item">Table</a></li>
        <li><a href="form.html" class="item">Form</a></li>
        <li><a href="alert.html" class="item">Alert</a></li>
        <li><a href="card.html" class="item">Card</a></li>
        <li><a href="hero.html" class="item">Hero</a></li>
        <li><a href="code.html" class="item">Code</a></li>
        <li><a href="markdown.html" class="item">Markdown</a></li>
        <li><a href="editor.html" class="item">Editor</a></li>
        <li><a href="chart.html" class="item">Chart</a></li>
        <li><a href="grid.html" class="item">Grid</a></li>
        <li><a href="masonry.html" class="item">Masonry</a></li>
        <li><a href="progress.html" class="item">Progress</a></li>
        <li><a href="modal.html" class="item">Modal</a></li>
    </ul>

    <ul id="third-menu" class="nav nav-pills nav-stacked">
        <li><a href="#" class="item item-head">Customize</a></li>
        <li><a href="fonts.html" class="item">Fonts</a></li>
        <li><a href="icon.html" class="item">Icon</a></li>
        <li><a href="component.html" class="item">Component</a></li>
        <li><a href="style-guide.html" class="item">Style Guide</a></li>
    </ul>

    <ul id="fourth-menu" class="nav nav-pills nav-stacked">
        <li><a href="#" class="item item-head">Free Sample</a></li>
        <li><a href="create.html" class="item">Create / Update</a></li>
        <li><a href="list-post.html" class="item">List Post</a></li>
        <li><a href="list-card.html" class="item">List Card</a></li>
        <li><a href="list-item.html" class="item">List Item</a></li>
        <li><a href="setting.html" class="item">Setting</a></li>
        <li><a href="sign-in.html" class="item">Sign In</a></li>
        <li><a href="profile.html" class="item">Profile</a></li>
        <li><a href="messages.html" class="item">Messages</a></li>
        <li><a href="notifications.html" class="item">Notifications</a></li>
        <li><a href="trash.html" class="item">Trash</a></li>
    </ul>

    <ul id="fifth-menu" class="nav nav-pills nav-stacked">
        <li><a href="#" class="item item-head">Feedbacks</a></li>
        <li><a href="author.html" class="item">Author</a></li>
        <li><a href="issues.html" class="item">Issues</a></li>
        <li><a href="contribution.html" class="item">Contribution</a></li>
    </ul>
</div>