<!-- Sidebar -->
<div class="sidebar">
    <ul class="nav nav-pills">
        <li><a href="#" class="item active" data-target="first-menu"><i class="ion-leaf"></i></a></li>
        <li><a href="#" class="item" data-target="second-menu"><i class="ion-cube"></i></a></li>
        <li><a href="#" class="item" data-target="third-menu"><i class="ion-erlenmeyer-flask"></i></a></li>
        <li><a href="#" class="item" data-target="fourth-menu"><i class="ion-fireball"></i></a></li>
        <li><a href="#" class="item" data-target="fifth-menu"><i class="ion-happy-outline"></i></a></li>
    </ul>
</div>

<!-- Secondary Sidebar -->
<div class="sidebar-menu">
    <ul id="first-menu" class="nav nav-pills nav-stacked active">
        <li><a href="#" class="item item-head">Introduction</a></li>
        <li><a href="" class="item">About Wonderful</a></li>
        <li><a href="" class="item">Installation</a></li>
        <li><a href="" class="item">Component</a></li>
        <li><a href="" class="item">Dependency</a></li>
        <li><a href="" class="item">License</a></li>
    </ul>
    <ul id="second-menu" class="nav nav-pills nav-stacked">
        <li><a href="#" class="item item-head">Components</a></li>
        <li><a href="" class="item">Button</a></li>
        <li><a href="" class="item">Table</a></li>
        <li><a href="" class="item">Form</a></li>
        <li><a href="" class="item">Alert</a></li>
        <li><a href="" class="item">Card</a></li>
        <li><a href="" class="item">Hero</a></li>
        <li><a href="" class="item">Markdown</a></li>
        <li><a href="" class="item">Editor</a></li>
        <li><a href="" class="item">Chart</a></li>
        <li><a href="" class="item">Grid</a></li>
        <li><a href="" class="item">Masonry</a></li>
        <li><a href="" class="item">Card</a></li>
        <li><a href="" class="item">Card</a></li>
    </ul>
    <ul id="third-menu" class="nav nav-pills nav-stacked">
        <li><a href="#" class="item item-head">Customize</a></li>
        <li><a href="" class="item">Product</a></li>
    </ul>
    <ul id="fourth-menu" class="nav nav-pills nav-stacked">
        <li><a href="#" class="item item-head">Free Sample</a></li>
        <li><a href="" class="item">Product</a></li>
    </ul>
    <ul id="fifth-menu" class="nav nav-pills nav-stacked">
        <li><a href="#" class="item item-head">Feedbacks</a></li>
        <li><a href="" class="item">Product</a></li>
    </ul>
</div>