.dropdown-menu {
	border: $clouds;
	display: block;
	transform: scale(0);

	li > a {
		color: $black;
		padding: 8px 16px;
	}
}
.open>.dropdown-menu {
	display: block;
	transform: scale(1.0);
	transition: all 0.3s cubic-bezier(0.4, 0, 0.49, 0.96);
}