.table {

	tbody,
	thead {

		tr {
			th {
				border-top: 0;
				border-bottom: 1px solid $clouds;
				text-align: center;
			}
			td {
				text-align: center;
			}
		}
	}
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    display: inline;
    min-width: auto;
    padding: 0;
    margin-left: 0;
    border: 0;

    &:hover {
    	border: 0;
    }
}