.font {
	&-slab {
		font-family: $serif;
	}
	&-noto {
		font-family: $sansSerif;
	}
	&-oswald {
		font-family: $sansSerifBold;
	}
}

.title {
	font-size: 36px;

	&-pages {
		font-family: $serif;
		font-size: 24px;
		border-bottom: 1px solid $clouds;
		padding-bottom: 10px;
		margin-bottom: 10px;
		color: lighten($black, 15%);
	}
}

.description {
	font-size: 16px;
	font-style: italic;
	color: transparentize($black, 0.6);
}